# Notebook 02: Sorting & Limiting

## Learning Objectives

By the end of this notebook, you will be able to:
- Sort results with ORDER BY (ascending and descending)
- Sort by multiple columns
- Limit results with LIMIT
- Skip rows with OFFSET for pagination
- Use DISTINCT to remove duplicates
- Combine sorting, limiting, and filtering

In [ ]:
import os
import sys
from pathlib import Path

project_root = Path.cwd().parent if Path.cwd().name == 'notebooks' else Path.cwd()
sys.path.insert(0, str(project_root / 'src'))

import duckdb
from sql_exercises import check

os.environ['SQL_NOTEBOOK_NAME'] = '02_sorting_limiting'
db_path = project_root / 'data' / 'databases' / 'practice.duckdb'
conn = duckdb.connect(str(db_path), read_only=True)
print("Setup complete!")

## Quick Reference

```sql
-- Sort ascending (default)
SELECT * FROM table ORDER BY column ASC;

-- Sort descending
SELECT * FROM table ORDER BY column DESC;

-- Multiple columns
SELECT * FROM table ORDER BY col1 ASC, col2 DESC;

-- Limit rows
SELECT * FROM table LIMIT 10;

-- Skip rows (pagination)
SELECT * FROM table LIMIT 10 OFFSET 20;

-- Unique values
SELECT DISTINCT column FROM table;
```

---

## Exercise 1: Basic ORDER BY Ascending (Easy)

**Problem:** List all employees ordered by last_name alphabetically (A-Z).

Return columns: employee_id, first_name, last_name

**Tables:** employees

In [ ]:
ex_01 = '''
-- Write your SQL here

'''
conn.execute(ex_01).fetchdf()

In [ ]:
check("ex_01", ex_01)

---

## Exercise 2: ORDER BY Descending (Easy)

**Problem:** List the top 10 highest-paid employees.

Return columns: employee_id, first_name, last_name, salary

**Tables:** employees

**Hint:** Order by salary descending, then limit to 10

In [ ]:
ex_02 = '''
-- Write your SQL here

'''
conn.execute(ex_02).fetchdf()

In [ ]:
check("ex_02", ex_02)

---

## Exercise 3: DISTINCT Values (Easy)

**Problem:** List all unique job titles in the company.

Return columns: job_title (one column, unique values only)

**Tables:** employees

In [ ]:
ex_03 = '''
-- Write your SQL here

'''
conn.execute(ex_03).fetchdf()

In [ ]:
check("ex_03", ex_03)

---

## Exercise 4: LIMIT and OFFSET (Easy)

**Problem:** Get employees 11-20 when sorted by employee_id (for pagination).

Return columns: employee_id, first_name, last_name

**Tables:** employees

**Hint:** OFFSET 10 skips the first 10 rows

In [ ]:
ex_04 = '''
-- Write your SQL here

'''
conn.execute(ex_04).fetchdf()

In [ ]:
check("ex_04", ex_04)

---

## Exercise 5: ORDER BY Multiple Columns (Medium)

**Problem:** List employees ordered by department_id (ascending), then by salary (descending) within each department.

Return columns: employee_id, first_name, last_name, department_id, salary

**Tables:** employees

In [ ]:
ex_05 = '''
-- Write your SQL here

'''
conn.execute(ex_05).fetchdf()

In [ ]:
check("ex_05", ex_05)

---

## Exercise 6: Combining Filter and Sort (Medium)

**Problem:** Find the 5 most recently hired employees in the Engineering department (department_id = 1).

Return columns: employee_id, first_name, last_name, hire_date

**Tables:** employees

In [ ]:
ex_06 = '''
-- Write your SQL here

'''
conn.execute(ex_06).fetchdf()

In [ ]:
check("ex_06", ex_06)

---

## Exercise 7: DISTINCT with Multiple Columns (Medium)

**Problem:** List all unique combinations of department_id and job_title.

Return columns: department_id, job_title

**Tables:** employees

**Hint:** DISTINCT applies to the combination of all selected columns

In [ ]:
ex_07 = '''
-- Write your SQL here

'''
conn.execute(ex_07).fetchdf()

In [ ]:
check("ex_07", ex_07)

---

## Exercise 8: ORDER BY with NULL Handling (Medium)

**Problem:** List all employees ordered by commission_pct descending. Employees without commission (NULL) should appear last.

Return columns: employee_id, first_name, last_name, commission_pct

**Tables:** employees

**Hint:** Use NULLS LAST

In [ ]:
ex_08 = '''
-- Write your SQL here

'''
conn.execute(ex_08).fetchdf()

In [ ]:
check("ex_08", ex_08)

---

## Exercise 9: Top N per Category Preview (Hard)

**Problem:** Find the 3 lowest-priced products in the Electronics category (category_id IN (1,2,3,4)).

Return columns: product_id, product_name, unit_price, category_id

**Tables:** products

In [ ]:
ex_09 = '''
-- Write your SQL here

'''
conn.execute(ex_09).fetchdf()

In [ ]:
check("ex_09", ex_09)

---

## Exercise 10: Complex Sorting Expression (Hard)

**Problem:** List all products sorted by profit margin (unit_price - cost_price) in descending order. Show the top 10.

Return columns: product_id, product_name, unit_price, cost_price

**Tables:** products

**Hint:** You can ORDER BY an expression

In [ ]:
ex_10 = '''
-- Write your SQL here

'''
conn.execute(ex_10).fetchdf()

In [ ]:
check("ex_10", ex_10)

---

## Summary

In this notebook, you learned:
- **ORDER BY** - Sorting results ascending or descending
- **Multiple column sorting** - Secondary sort criteria
- **LIMIT** - Restricting the number of rows returned
- **OFFSET** - Skipping rows for pagination
- **DISTINCT** - Removing duplicate rows
- **NULLS FIRST/LAST** - Controlling NULL ordering
- **Expression sorting** - Sorting by calculated values

### Next: Notebook 03 - Aggregations & GROUP BY

In [ ]:
conn.close()
print("Notebook complete!")