# Notebook 04: Joins Basics

## Learning Objectives

- Understand why joins are needed
- Use INNER JOIN to combine matching rows
- Use LEFT JOIN to keep all rows from left table
- Use RIGHT JOIN to keep all rows from right table
- Use table aliases for cleaner queries
- Join multiple tables in one query

In [ ]:
import os
import sys
from pathlib import Path

project_root = Path.cwd().parent if Path.cwd().name == "notebooks" else Path.cwd()
sys.path.insert(0, str(project_root / "src"))
import duckdb
from sql_exercises import check

os.environ["SQL_NOTEBOOK_NAME"] = "04_joins_basics"
conn = duckdb.connect(
    str(project_root / "data" / "databases" / "practice.duckdb"), read_only=True
)
print("Setup complete!")

## Quick Reference

```sql
-- INNER JOIN: Only matching rows from both tables
SELECT * FROM a INNER JOIN b ON a.id = b.a_id;

-- LEFT JOIN: All rows from left, matching from right
SELECT * FROM a LEFT JOIN b ON a.id = b.a_id;

-- RIGHT JOIN: All rows from right, matching from left
SELECT * FROM a RIGHT JOIN b ON a.id = b.a_id;

-- Table aliases
SELECT e.name, d.name
FROM employees e
JOIN departments d ON e.dept_id = d.id;
```

In [ ]:
# Preview related tables
print("Employees (first 3):")
display(
    conn.execute(
        "SELECT employee_id, first_name, department_id FROM employees LIMIT 3"
    ).fetchdf()
)
print("\nDepartments:")
display(conn.execute("SELECT * FROM departments").fetchdf())

---
## Exercise 1: Basic INNER JOIN (Easy)

**Problem:** List all employees with their department names.

Return columns: employee_id, first_name, last_name, department_name

**Tables:** employees, departments

In [ ]:
ex_01 = """

"""
conn.execute(ex_01).fetchdf()

In [ ]:
check("ex_01", ex_01)

---
## Exercise 2: JOIN with Table Aliases (Easy)

**Problem:** Same as above, but use table aliases (e for employees, d for departments).

Return columns: employee_id, first_name, last_name, department_name

In [ ]:
ex_02 = """

"""
conn.execute(ex_02).fetchdf()

In [ ]:
check("ex_02", ex_02)

---
## Exercise 3: LEFT JOIN (Easy)

**Problem:** List all departments and their employee counts. Use a LEFT JOIN to ensure all departments would be included even if they had no employees.

Return columns: department_id, department_name, employee_count

**Hint:** LEFT JOIN keeps all rows from the left table

In [ ]:
ex_03 = """

"""
conn.execute(ex_03).fetchdf()

In [ ]:
check("ex_03", ex_03)

---
## Exercise 4: JOIN with Filter (Easy)

**Problem:** Find all employees in the 'Engineering' department.

Return columns: employee_id, first_name, last_name, department_name

**Hint:** Join first, then filter with WHERE

In [ ]:
ex_04 = """

"""
conn.execute(ex_04).fetchdf()

In [ ]:
check("ex_04", ex_04)

---
## Exercise 5: JOIN Three Tables (Medium)

**Problem:** List all project assignments with employee names and project names.

Return columns: employee_id, first_name, last_name, project_name, role

**Tables:** employees, project_assignments, projects

In [ ]:
ex_05 = """

"""
conn.execute(ex_05).fetchdf()

In [ ]:
check("ex_05", ex_05)

---
## Exercise 6: JOIN with Aggregation (Medium)

**Problem:** For each department, show the department name and average salary.

Return columns: department_name, avg_salary

In [ ]:
ex_06 = """

"""
conn.execute(ex_06).fetchdf()

In [ ]:
check("ex_06", ex_06)

---
## Exercise 7: Ecommerce JOIN (Medium)

**Problem:** List all orders with customer names.

Return columns: order_id, order_date, first_name, last_name, total_amount

**Tables:** orders, customers

In [ ]:
ex_07 = """

"""
conn.execute(ex_07).fetchdf()

In [ ]:
check("ex_07", ex_07)

---
## Exercise 8: Order Items with Product Details (Medium)

**Problem:** List order items with product names and order info.

Return columns: order_id, product_name, quantity, line_total

**Tables:** order_items, products

In [ ]:
ex_08 = """

"""
conn.execute(ex_08).fetchdf()

In [ ]:
check("ex_08", ex_08)

---
## Exercise 9: Customers Without Orders (Hard)

**Problem:** Find all customers who have never placed an order.

Return columns: customer_id, first_name, last_name

**Tables:** customers, orders

**Hint:** Use LEFT JOIN and check for NULL in order_id

In [ ]:
ex_09 = """

"""
conn.execute(ex_09).fetchdf()

In [ ]:
check("ex_09", ex_09)

---
## Exercise 10: Full Customer Order Report (Hard)

**Problem:** Create a report showing each customer's total order count and total spending.

Return columns: customer_id, first_name, last_name, order_count, total_spent

**Hint:** Join customers with orders, aggregate with GROUP BY

In [ ]:
ex_10 = """

"""
conn.execute(ex_10).fetchdf()

In [ ]:
check("ex_10", ex_10)

---
## Summary

- **INNER JOIN** - Only rows with matches in both tables
- **LEFT JOIN** - All rows from left table, NULLs for non-matches
- **RIGHT JOIN** - All rows from right table
- **Table aliases** - Shorter names for readability
- **Multi-table joins** - Chain multiple JOINs

### Next: Notebook 05 - Advanced Joins

In [ ]:
conn.close()