# Notebook 08: String & Date Functions

## Learning Objectives
- Use string functions: UPPER, LOWER, LENGTH, SUBSTRING, CONCAT
- Use date functions: YEAR, MONTH, DAY, DATE_DIFF, DATE_TRUNC
- Extract and format date components
- Calculate date differences

In [ ]:
import os, sys
from pathlib import Path
project_root = Path.cwd().parent if Path.cwd().name == 'notebooks' else Path.cwd()
sys.path.insert(0, str(project_root / 'src'))
import duckdb
from sql_exercises import check
os.environ['SQL_NOTEBOOK_NAME'] = '08_string_date_functions'
conn = duckdb.connect(str(project_root / 'data' / 'databases' / 'practice.duckdb'), read_only=True)
print("Setup complete!")

## Quick Reference
```sql
-- String functions
UPPER('text'), LOWER('TEXT')
LENGTH('text')  -- returns 4
SUBSTRING('hello', 1, 3)  -- 'hel'
CONCAT(col1, ' ', col2) or col1 || ' ' || col2
TRIM('  text  '), LTRIM, RTRIM
REPLACE('hello', 'l', 'L')  -- 'heLLo'

-- Date functions (DuckDB)
YEAR(date), MONTH(date), DAY(date)
DATE_TRUNC('month', date)  -- First day of month
date1 - date2  -- Difference in days
CURRENT_DATE, CURRENT_TIMESTAMP
```

---
## Exercise 1: String Concatenation (Easy)
**Problem:** Create a full name column from first_name and last_name.

Return columns: employee_id, full_name (first + space + last)

In [ ]:
ex_01 = '''

'''
conn.execute(ex_01).fetchdf()

In [ ]:
check("ex_01", ex_01)

---
## Exercise 2: UPPER and LOWER (Easy)
**Problem:** Show product names in both uppercase and lowercase.

Return columns: product_id, upper_name, lower_name

In [ ]:
ex_02 = '''

'''
conn.execute(ex_02).fetchdf()

In [ ]:
check("ex_02", ex_02)

---
## Exercise 3: Extract Year from Date (Easy)
**Problem:** Show the hire year for each employee.

Return columns: employee_id, first_name, hire_year

In [ ]:
ex_03 = '''

'''
conn.execute(ex_03).fetchdf()

In [ ]:
check("ex_03", ex_03)

---
## Exercise 4: Email Domain Extraction (Medium)
**Problem:** Extract the domain from employee emails (everything after @).

Return columns: employee_id, email, domain

**Hint:** Use SUBSTRING and POSITION or string_split

In [ ]:
ex_04 = '''

'''
conn.execute(ex_04).fetchdf()

In [ ]:
check("ex_04", ex_04)

---
## Exercise 5: Orders by Month (Medium)
**Problem:** Count orders per month (year-month format).

Return columns: order_month, order_count

**Tables:** orders

In [ ]:
ex_05 = '''

'''
conn.execute(ex_05).fetchdf()

In [ ]:
check("ex_05", ex_05)

---
## Exercise 6: Employee Tenure (Medium)
**Problem:** Calculate how many days each employee had been with the company as of January 1, 2024.

Return columns: employee_id, first_name, hire_date, days_employed

**Hint:** DATE '2024-01-01' - hire_date

In [ ]:
ex_06 = '''

'''
conn.execute(ex_06).fetchdf()

In [ ]:
check("ex_06", ex_06)

---
## Exercise 7: String Length Filtering (Medium)
**Problem:** Find products with names longer than 15 characters.

Return columns: product_id, product_name, name_length

In [ ]:
ex_07 = '''

'''
conn.execute(ex_07).fetchdf()

In [ ]:
check("ex_07", ex_07)

---
## Exercise 8: Date Truncation for Monthly Report (Hard)
**Problem:** Calculate total revenue per month from orders.

Return columns: month_start, monthly_revenue

**Hint:** Use DATE_TRUNC('month', order_date)

In [ ]:
ex_08 = '''

'''
conn.execute(ex_08).fetchdf()

In [ ]:
check("ex_08", ex_08)

---
## Exercise 9: Session Duration Analysis (Hard)
**Problem:** Find sessions longer than 10 minutes (600 seconds) from the analytics data.

Return columns: session_id, user_id, session_duration_seconds

**Tables:** sessions

In [ ]:
ex_09 = '''

'''
conn.execute(ex_09).fetchdf()

In [ ]:
check("ex_09", ex_09)

---
## Exercise 10: Formatted Employee Report (Hard)
**Problem:** Create a formatted employee report with name, hire year, and formatted salary.

Return columns: display_name (LASTNAME, Firstname), hire_year, formatted_salary (prefixed with $)

In [ ]:
ex_10 = '''

'''
conn.execute(ex_10).fetchdf()

In [ ]:
check("ex_10", ex_10)

---
## Summary
- String: UPPER, LOWER, LENGTH, SUBSTRING, CONCAT, ||
- Date: YEAR, MONTH, DAY, DATE_TRUNC, date arithmetic

### Next: Notebook 09 - CASE Statements

In [ ]:
conn.close()