# Notebook 09: CASE Statements & Conditional Logic

## Learning Objectives
- Use simple CASE expressions
- Use searched CASE expressions
- Combine CASE with aggregations
- Handle NULL with COALESCE and NULLIF

In [ ]:
import os, sys
from pathlib import Path
project_root = Path.cwd().parent if Path.cwd().name == 'notebooks' else Path.cwd()
sys.path.insert(0, str(project_root / 'src'))
import duckdb
from sql_exercises import check
os.environ['SQL_NOTEBOOK_NAME'] = '09_case_conditional'
conn = duckdb.connect(str(project_root / 'data' / 'databases' / 'practice.duckdb'), read_only=True)
print("Setup complete!")

## Quick Reference
```sql
-- Simple CASE
CASE column
    WHEN value1 THEN result1
    WHEN value2 THEN result2
    ELSE default_result
END

-- Searched CASE
CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    ELSE default_result
END

-- NULL handling
COALESCE(col, default_value)  -- Returns first non-NULL
NULLIF(col, value)  -- Returns NULL if col = value
```

---
## Exercise 1: Simple CASE (Easy)
**Problem:** Categorize employees by department_id as 'Engineering' (1), 'Sales' (2), 'Marketing' (3), or 'Other'.

Return columns: employee_id, first_name, department_category

In [ ]:
ex_01 = '''

'''
conn.execute(ex_01).fetchdf()

In [ ]:
check("ex_01", ex_01)

---
## Exercise 2: Searched CASE (Easy)
**Problem:** Classify employees by salary as 'Low' (<60000), 'Medium' (60000-100000), or 'High' (>100000).

Return columns: employee_id, first_name, salary, salary_level

In [ ]:
ex_02 = '''

'''
conn.execute(ex_02).fetchdf()

In [ ]:
check("ex_02", ex_02)

---
## Exercise 3: COALESCE (Easy)
**Problem:** Show commission_pct for all employees, displaying 0 instead of NULL.

Return columns: employee_id, first_name, commission_pct (with 0 for NULL)

In [ ]:
ex_03 = '''

'''
conn.execute(ex_03).fetchdf()

In [ ]:
check("ex_03", ex_03)

---
## Exercise 4: Order Status Labels (Medium)
**Problem:** Create friendly labels for order statuses.

Return columns: order_id, order_status, status_label
- pending -> 'Awaiting Processing'
- processing -> 'Being Prepared'
- shipped -> 'On The Way'
- delivered -> 'Completed'
- Others -> 'Other Status'

In [ ]:
ex_04 = '''

'''
conn.execute(ex_04).fetchdf()

In [ ]:
check("ex_04", ex_04)

---
## Exercise 5: CASE in Aggregation (Medium)
**Problem:** Count employees in each salary level (Low/Medium/High) per department.

Return columns: department_id, low_count, medium_count, high_count

**Hint:** Use SUM(CASE WHEN ... THEN 1 ELSE 0 END)

In [ ]:
ex_05 = '''

'''
conn.execute(ex_05).fetchdf()

In [ ]:
check("ex_05", ex_05)

---
## Exercise 6: Conditional Calculation (Medium)
**Problem:** Calculate total compensation: salary + (salary * commission_pct). If no commission, just salary.

Return columns: employee_id, first_name, salary, commission_pct, total_compensation

In [ ]:
ex_06 = '''

'''
conn.execute(ex_06).fetchdf()

In [ ]:
check("ex_06", ex_06)

---
## Exercise 7: Rating Categories (Hard)
**Problem:** Categorize product reviews: 1-2 = 'Poor', 3 = 'Average', 4-5 = 'Good'. Count each category per product.

Return columns: product_id, poor_count, average_count, good_count

**Tables:** reviews

In [ ]:
ex_07 = '''

'''
conn.execute(ex_07).fetchdf()

In [ ]:
check("ex_07", ex_07)

---
## Exercise 8: Customer Tier Analysis (Hard)
**Problem:** Show revenue by customer tier with tier labels: bronze='Bronze', silver='Silver', gold='Gold', platinum='Platinum'.

Return columns: tier_label, customer_count, total_revenue

**Tables:** customers, orders

In [ ]:
ex_08 = '''

'''
conn.execute(ex_08).fetchdf()

In [ ]:
check("ex_08", ex_08)

---
## Summary
- **Simple CASE** - Match column against specific values
- **Searched CASE** - Evaluate conditions
- **COALESCE** - Handle NULL with defaults
- **CASE in aggregation** - Conditional counting/summing

### Next: Notebook 10 - CTEs

In [ ]:
conn.close()