# Notebook 10: Common Table Expressions (CTEs)

## Learning Objectives
- Use WITH clause to create CTEs
- Chain multiple CTEs
- Improve query readability with CTEs
- Reference CTEs multiple times

In [ ]:
import os
import sys
from pathlib import Path

project_root = Path.cwd().parent if Path.cwd().name == "notebooks" else Path.cwd()
sys.path.insert(0, str(project_root / "src"))
import duckdb
from sql_exercises import check

os.environ["SQL_NOTEBOOK_NAME"] = "10_ctes"
conn = duckdb.connect(
    str(project_root / "data" / "databases" / "practice.duckdb"), read_only=True
)
print("Setup complete!")

## Quick Reference
```sql
-- Single CTE
WITH cte_name AS (
    SELECT ...
)
SELECT * FROM cte_name;

-- Multiple CTEs
WITH cte1 AS (...),
     cte2 AS (...)
SELECT * FROM cte1 JOIN cte2 ...;
```

---
## Exercise 1: Basic CTE (Easy)
**Problem:** Use a CTE to find employees earning above company average.

Return columns: employee_id, first_name, last_name, salary

In [ ]:
ex_01 = """

"""
conn.execute(ex_01).fetchdf()

In [ ]:
check("ex_01", ex_01)

---
## Exercise 2: CTE for Department Stats (Easy)
**Problem:** Create a CTE for department statistics, then select departments with >15 employees.

Return columns: department_id, emp_count, avg_salary

In [ ]:
ex_02 = """

"""
conn.execute(ex_02).fetchdf()

In [ ]:
check("ex_02", ex_02)

---
## Exercise 3: Multiple CTEs (Medium)
**Problem:** Use two CTEs: one for dept stats, one for company average. Compare them.

Return columns: department_id, dept_avg_salary, company_avg_salary

In [ ]:
ex_03 = """

"""
conn.execute(ex_03).fetchdf()

In [ ]:
check("ex_03", ex_03)

---
## Exercise 4: CTE with Joins (Medium)
**Problem:** CTE to find top customers by order count, then join to get details.

Return columns: customer_id, first_name, last_name, order_count (top 10 by count)

In [ ]:
ex_04 = """

"""
conn.execute(ex_04).fetchdf()

In [ ]:
check("ex_04", ex_04)

---
## Exercise 5: CTE for Monthly Metrics (Medium)
**Problem:** CTE for monthly order totals, then find months with revenue > $50,000.

Return columns: order_month, monthly_revenue, order_count

In [ ]:
ex_05 = """

"""
conn.execute(ex_05).fetchdf()

In [ ]:
check("ex_05", ex_05)

---
## Exercise 6: Chained CTEs (Hard)
**Problem:** Build a report: CTE1 for product sales, CTE2 for product categories, join them.

Return columns: category_name, total_products_sold, total_revenue

In [ ]:
ex_06 = """

"""
conn.execute(ex_06).fetchdf()

In [ ]:
check("ex_06", ex_06)

---
## Exercise 7: CTE Referenced Multiple Times (Hard)
**Problem:** Create a CTE of high earners (>$100k), use it to find their departments and count.

Return columns: department_id, high_earner_count, total_high_earners_company

In [ ]:
ex_07 = """

"""
conn.execute(ex_07).fetchdf()

In [ ]:
check("ex_07", ex_07)

---
## Summary
- **WITH clause** - Define CTEs before main query
- **Multiple CTEs** - Separate with commas
- **Chaining** - Later CTEs can reference earlier ones
- **Reusability** - Reference same CTE multiple times

### Next: Notebook 11 - Window Functions

In [ ]:
conn.close()